<img src="http://us.123rf.com/450wm/adrenalinapura/adrenalinapura1303/adrenalinapura130300409/18527851-belly-dancer.jpg?ver=6">

<input type="text" ng-model="input" /> Type something</input>
<input type="text" ng-model="noun" /> Type a noun</input>
<input type="text" ng-model="verb" /> Type a verb</input>
<input type="text" ng-model="adj" /> Type a adj</input>
<input type="text" ng-model="phase" /> Type a phase</input>
<input type="text" ng-model="word" /> Type a word </input>


<div>
  <button ng-click="clickMe()">Submit</button>
</div>
